.header{
    line-height: 30px;
    background-color: #212121;
}
.header img{
    width: 40px;
    height: 40px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.logo h1{
    margin-left: 10px;
    color: white;
}